<div class="container">
	<div class="col-md-4 col-md-offset-4 form-group">
		<h2>Change Password</h2>
	</div>
	<form method="post" action="/changePassword/updatePassword">
		<div class="row form-group">
	        <div class="col-md-4 col-md-offset-4">
	    		<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
	              	<input id="password" minlength="5" maxlength="12" name="oldPassword" placeholder="Enter Password" class="form-control input-md" type="password" value="{{password}}" required>
	            </div>
			</div>
		</div>
		<div class="row form-group">
	        <div class="col-md-4 col-md-offset-4">
	    		<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
	              	<input id="password" minlength="5" maxlength="12" name="newPassword" placeholder="Enter Password" class="form-control input-md" type="password" value="{{password}}" required>
	            </div>
			</div>
		</div>
		<div class="row form-group">
	        <div class="col-md-4 col-md-offset-4 form-group">
	    		<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
	              	<input id="password" minlength="5" maxlength="12" name="repeatPassword" placeholder="Enter Password" class="form-control input-md" type="password" value="{{password}}" required>
	            </div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>