<div class="container-fluid">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="">
               <div class="mbottom">
                  <h2>   Write Us  </h2>
               </div>
               <form role="form" action="/info/contactForm" method="post">
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-6 form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                              </span>
                              <input id="text" maxlength="12" name="firstName" placeholder="Shrikant" class="form-control input-md" type="text" value="{{firstName}}" required>
                           </div>
                        </div>
                        <div class="col-md-6 form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                              </span>
                              <input id="text" maxlength="12" name="lastName" placeholder="Shrikant" class="form-control input-md" type="text" value="{{lastName}}" required>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-6 form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                              <i class="glyphicon glyphicon-inbox"></i>
                              </span>
                              <input id="email" maxlength="20" name="email" placeholder="xxxxxxxx@gmail.com" class="form-control input-md ac_email" type="email" value="{{email}}" required>
                           </div>
                        </div>
                        <div class="col-md-6 form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                              <i class="glyphicon glyphicon-phone"></i>
                              </span>
                              <input id="mobile" maxlength="10" name="mobile" placeholder="xxxxxxxxxxxx" class="form-control input-md" type="text" value="{{mobile}}" required>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-12">
                           <textarea name="mesaj" class="form-control" rows="8" cols="80" placeholder="Write your queries/comments"></textarea>
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
               </form>
            </div>
         </div>
         <div class="col-md-1 text-center aralik1 hidden-xs hidden-sm">
            <img class="img-responsive" src="/assest/aralik1.png" alt="">
         </div>
         <div class="col-md-5 ">
            <h2>   Address  </h2>
            <div class="mtop">
               Plot Number - 12, Bajaj Nagar,<br> MIDC, Waluj, <br>Aurangabad. - 411131<br><br>
               <h4>Phone </h4>
               +91 123 123 1234<br>
               +91 123 123 1234<br>
               <h4>Email</h4>
               abcccc.xyyyyyz@gmail.com<br>abcccc.xyyyyyz@gmail.com<br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3867567.1112861447!2d74.52506577638795!3d18.801673366545163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcfc41e9c9cd6f9%3A0x1b2f22924be04fb6!2sMaharashtra%2C+India!5e0!3m2!1sen!2ssg!4v1500802144219" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>